@model IEnumerable<MVCEntitiyFrameworkPostgreSQL.Models.Hospital>

@{
    ViewBag.Title = "Index";
}

<center><h2 style="font-weight: bold;">Hospitals</h2></center>
<br />
<table class="table">
    <tr>
        <th>
            <h5 style="color: red; font-weight: bold;">Hospital Name</h5>
        </th>
        <th>
            <h5 style="color: red; font-weight: bold;">Hospital Address</h5>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            <a class="btn btn-info" href="~/User/HospitalDetails/@item.id.ToString()">Details</a>
        </td>
    </tr>
}

</table>
